.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  .left,
  .right {
    padding: 5%;
    display: flex;
    place-content: center;
    place-items: center;
  }

  .left {
    border-right: 1px solid black;
  }
}
